.footer-area{
  background-image: url('../../../Images/Footer/ft.jpg');
  background-size: 100% 100%;
  padding: 50px 0;
  background-repeat: no-repeat;
  background-color: rgba(13, 14, 14, 0.671);
  background-blend-mode: darken, luminosity;
  color: #fff;
}

hr{
  border-bottom: 2px solid #fff;
}

@media only screen and (max-width: 575px) {
  .footer-area{
       background-size: 100% 100%;
      background-attachment: unset;
  }
  
}