.review{
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
/* add custom outline on focused items */
.eaptOe  {
    background-color: #1d7cbb;
}