.foodNav  {
  text-decoration: none;
  margin-right: 50px;
  color:black;
  display:flex;
  flex-direction: row;
  align-content: space-around;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.foodNav a {
  text-decoration: none;
  margin-right: 50px;
  color: #44607C;
 
}
.foodNav .selected {
  font-weight: bold;
  color: #44607C;
  border-bottom: 3px solid #44607C;
  font-size: large;
  margin-bottom: ;
}
.fdnav-h{
  color:rgba(0, 0, 0, 0.797);
  text-align: center;
}
.fdnav-d {
  margin:10px 0px 10px 0px
}
/* @media only screen and (max-width: 575px) {
  .fdnav-h{
    color:#44607C;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin:10px 0px 10px 0px
  }
  
} */